# PENGENALAN SQLite 3 
SQLite adalah library program SQL database engine yang tidak memerlukan server ataupun konfigurasi SQL server seperti permission, user name dan password, dsb. Library SQLite3 default di Python. Tidak perlu melakukan pip install untuk mendapatkan library tersebut.

In [1]:
import sqlite3 #cukup lakukan import sqlite3 untuk mulai menggunakan library tersebut

Pada dasarnya syntax yang dipakai pada SQLite3 sama saja dengan standard syntax yang dipakai pada SQL server lainnya.

### CREATE / AKSES DATABASE
Untuk mengakses database cukup lakukan sebagai berikut:

In [4]:
koneksi = sqlite3.connect('database1.db')  #jika database tidak didapati, maka SQLite3 akan create database tsb.
kursor = koneksi.cursor() #membentuk kursor untuk manuver / manipulasi database


Dengan perintah diatas, database dan kursor terbentuk. Namun database ini belum memiliki tabel untuk mengisi kolom dan row. Perintah berikutnya adalah lakukan create table.

In [8]:
kursor.execute("CREATE TABLE IF NOT EXISTS tabelLapak(nama TEXT, kota TEXT, produk TEXT, qty INT, harga REAL)")
koneksi.commit() #tabel terbentuk saat eksekusi perintah ini

mari membedah kedua baris statement diatas.

    1. kursor.execute() adalah perintah untuk melakukan eksekusi perintah SQL. Dalam kurung () yang mengikuti commit adalah tempat memasukkan perintah SQL
    2. Dalam contoh diatas semua perintah SQL sengaja ditulis dalam huruf besar untuk memudahkan membedakan antara syntax SQL dengan nama variabel ataupun tabel. Namun hal ini tidak wajib karena SQL tidak membedakan huruf besar dan kecil. 
    3. tabelLapak adalah nama tabel yang di create, dengan field nama (type text), kota (type text), produk (type text), qty (type int), harga (type real)
    4. koneksi.commit() adalah perintah untuk eksekusi perintah yang ada pada kursor.execute()

### INSERT
Berikut adalah contoh perintah insert kedalam tabel

In [9]:
kursor.execute("INSERT INTO tabelLapak VALUES ('Toko Bagus', 'Jakarta', 'Tolak Angin', 10, 2000)")
koneksi.commit()

statement diatas memerintahkan insert record kedalam tabel "tabelLapak" dengan value yang akan disimpan kedalam tabel sesuai dengan urutan field waktu create table.

### SELECT 
Untuk melihat data yang sudah di insert seperti diatas, kita bisa melakukan perintah select terhadap tabel diatas

In [10]:
kursor.execute("SELECT * FROM tabelLapak")
data = kursor.fetchall()
print(data)

[('Toko Bagus', 'Jakarta', 'Tolak Angin', 10, 2000.0)]

Seperti dilihat pada bagian program diatas, perintah select tidak memerlukan koneksi.commit(). Karena tidak ada manipulasi data yang dilakukan; hanya menarik data yang sudah tersimpan didalam tabel yang ada. Untuk mendapatkan data yang telah di select, gunakan method fetchall() dan data tersebut bisa disimpan kedalam variabel yang akan secara otomatis akan membentuk tuple.

### UPDATE
Untuk sebagai contoh, mari lakukan update terhadap quantity tolak angin dari 10 menjadi 20

In [11]:
kursor.execute("UPDATE tabelLapak SET qty = 20 WHERE qty = 10")
koneksi.commit()

In [12]:
kursor.execute("SELECT * FROM tabelLapak") #sekali lagi kira query tabelLapak untuk melihat perubahan yang terjadi
data = kursor.fetchall()
print(data)

[('Toko Bagus', 'Jakarta', 'Tolak Angin', 20, 2000.0)]

sekarang kita bisa lihat bahwa quantity sudah berubah menjadi 20 karena kita melakukan update qty = 20 untuk record yang memiliki qty = 10

### DELETE
Untuk melakukan delete, caranya sebagai berikut:

In [13]:
kursor.execute("DELETE FROM tabelLapak where qty = 20")
koneksi.commit()

In [14]:
kursor.execute("SELECT * FROM tabelLapak") #sekali lagi kira query tabelLapak untuk melihat perubahan yang terjadi
data = kursor.fetchall()
print(data)

[]

setelah dilakukan delete, dapat kita lihat bakwa database sudah kosong karena satu-satunya record yang ada didalam database tersebut telah di delete.

### MENUTUP KONEKSI DAN KURSOR
Setelah selesai dengan keperluan terhadap database, koneksi maupun kursor perlu ditutup untuk memastikan memory yang terpakai untuk handling koneksi maupun kursor ke database dibebaskan. Caranya sebagai berikut:

In [15]:
kursor.close()
koneksi.close()

Demikian perkenalan untuk penggunaan SQLite